<header class="header">

	<div class="wrap">

		<a href="{{ site.baseurl }}/" class="header__title_min">
		{% if site.data.settings.header_settings.avatar_image %}
			<img src="{{ site.data.settings.header_settings.avatar_image | relative_url }}" class="header__logo__img_min">
		{% endif %}
			{{ site.data.settings.basic_settings.site_title }}
		</a>
<!--
		<p class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</p>
-->
		<div class="menu">
			<ul class="menu__list">
				{% for item in site.data.settings.menu_settings.menu_items %}
				<li class="menu__list__item">
					<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>

</header>
