---
layout: min
title: ProofMode - Blog
---

<section class="listing single">

        <div class="wrap">

                {% for project in site.posts %}

                <article class="listing-project">

                        <div class="listing-project__header">
                        {% if project.featured_image %}
                        <a href="{{ project.url | relative_url }}"><img src="{{ project.featured_image | relative_url }}" style="float:left;width:200px;padding:6px;" /></a>
                        {% endif %}
                                <h3 class="listing-post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
                                <p class="listing-post__subtitle">{{ project.excerpt }}</p>
                                <p class="listing-post__subtitle">{{ project.date | date_to_long_string }}</p>
                        </div>
			<div style="float:none;clear:left;"/>
<hr/>

                </article>

                {% endfor %}

        </div>

</section>
