---
layout: min
---
<section class="single">
	<div class="wrap">
{% if page.title %}
		<h1>{{ page.title }}</h1>
		<p class="subtitle">{{ page.subtitle }}</p>
{% endif %}
		{{ page.content }}
	</div>

</section>
